<div class="section">
  <h1 class="page-title">Posts</h1>
  <ul class="list-index">
    <% @post.each do |post| %>
      <div class="card">
        <li><%= link_to post.title, post %></li>
      </div>
    <% end %>  
  </ul>
</div>
<footer></footer>
