<div class="header">
</div>

<div class="new-post-link"><%= link_to "create post", new_post_path %></div>
<div class="section">
  <h1 class="page-title">Posts</h1>
  <div class="list-index">
    <% @post.each do |post| %>
      <ul>
        <div class="card">
          <li><%= link_to post.title, post %></li>
        </div>
      </ul>
    <% end %>  
  </div>
</div>
<footer></footer>
